@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.me {
    height: 200px;
}

body {
    font-size: 16.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fira Code', monospace;
    background: #010C15;
    color: #607B96;
    position: relative;
    transition: background 0.2s linear;
}


body.dark {
    background-color: #f5f5f5;
    color: #4b4b4b;
}

hr {
    display:block;
    padding:0;
    margin: 10px 0;
    width: 99.8%;
    background-color:#ddd;
    margin-bottom: 12px;
    text-align: center;
}

.text-regua {
    font-size: 15px;
    text-decoration: none;
    color: #607B96;
}

.regua {
    margin-bottom: 12px;
}


.checkbox {
  opacity: 0;
  position: absolute;
}
 
.darklight {
    position: absolute;
    top: 5%;
    right: 5%;
}

.label {
  background-color: #cfcfcf;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 0;
  padding: 5px;
  position: relative;
  height: 18px;
  width: 38px;
  transform: scale(1.5); 
}
  
.dark .label {
    background-color: #111;
}

.ball.dark {
    background-color: #111;
}
  
.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  margin: 2px;
  margin-bottom: 2px;
  height: 14px;
  width: 14px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
  
.checkbox:checked + .label .ball {
  transform: translateX(15.8px);
}
  
.fa-moon {
  color: #f1c40f;
}
  
.fa-sun {
  color: #f39c12;
}

.fa-moon, .fa-sun {
    font-size: 10px;
}

#content-apresentacao{
    position: relative;
    margin-top: 110px;
    cursor: default;
}

.dev{
    font-size: 20px;
    color: #43D9AD;
    cursor: default;
}

.dev.dark {
    color: #2d9e7c;
}

.hi {
    font-size: 19px;
    color: #e5e9f0;
}

.hi.dark {
    color: #010C15;
}

.apresentacao1 {
    font-size: 60px;
    font-weight: 400;
    color: #E5E9F0;
    cursor: default;
}

.apresentacao1.dark {
    color: #111;
}

.github {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
    cursor: default;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 50px;
    cursor: default;
}

.link {
    color: rgb(148, 83, 244);
    transition: 400ms;
}

.link:hover {
    color: rgba(143, 87, 221, 0.678);
}

.dark .link {
    color: rgba(100, 61, 155, 0.897);
}

.const {
    color: #4D5BCE;
}

.variaveis {
    color: #43D9AD;
}

.dark .variaveis {
   color: #2d9e7c;
}

h1 {
    padding-right: 80px;
}


img {
    height: 250px;
    position: absolute;
    right: 120%;
    top: -5%;
    border-radius: 150px;
    border: 2.5px solid #43D9AD;
    border-color: #43D9AD;
    transition: 200ms;
}

img:hover {
    transform: scale(105%);
    border: 2px solid #43D9AD;
    border-radius: 70px;
}

.dark img{
    border-color: #147c5d;
}

.projetos {
    display: flex;
    gap: 15px;
    padding-top: 50px;
    flex-direction: column;
    cursor: default;
}

.scrsys, .backend {
    padding-bottom: 10px;
}


.habilidades {
    position: relative;
    display: flex;
    gap: 15px;
    padding-top: 50px;
    flex-direction: column;
    cursor: default;
}


.profile-image-light {
    display: none;
}

.profile-image-dark {
    display: block;
}

.dark .profile-image-light {
    display: block;
}

.dark .profile-image-dark {
    display: none;
}

.html {
    position: absolute;
    height: 30px;
    left: 0%;
    top: 0%;
}

.css {
    position: absolute;
    height: 30px;
    left: 25%;
    top: 0%;
    transition: 300ms;
}

.python {
    position: absolute;
    height: 30px;
    left: 47.1%;
    top: 0%;
    transition: 300ms;
}

.python:hover, .css:hover, .html:hover, .js:hover, .react:hover, .php:hover {
    height: 29px;
}

.estudando {
    position: relative;
    display: flex;
    gap: 15px;
    padding-top: 25px;
    flex-direction: column;
    cursor: default;
}

.js {
    position: absolute;
    height: 30px;
    left: 75.6%;
    top: 0%;
    transition: 300ms;
}

.react {
    position: absolute;
    height: 30px;
    left: 0%;
    top: 0%;
    transition: 300ms;

}

.php {
    position: absolute;
    height: 30px;
    left: 24%;
    top: 0%;
    transition: 300ms;

}

.contatos {
    display: flex;
    gap: 15px;
    padding-top: 50px;
    flex-direction: column;
    cursor: default;
    padding-bottom: 30px;
}

.siis {
    gap: 15px;
    padding-top: 20px;
    flex-direction: column;
    cursor: default;
    padding-bottom: 30px;
}

.sis {
    background-color: #010C15;
    margin-top: 20px;
    right: 33%;
    text-align: center;
    transition: 300ms;
}

.dark .sis {
    background-color: #f5f5f5;
}

.sismestas {
    font-size: 22.5px;
    font-weight: bold;
    transition: 300ms;
    color: rgb(148, 83, 244);
}

.sismestas:hover {
    color: rgb(106, 39, 206);
}

.sistemas {
    font-size: 17px;
}

.sis:hover {
    border-radius: 45px;
}


@media (width <= 576px) {

.siis {
    max-width: 100%;
    padding-bottom: 0px;
}

.dev {
    margin-bottom: 10px;
}

.about {
    margin-top: 20px;
}

.darklight {
    top: 4%;
}

.label {
    height: 12px;
    width: 30px;
}

.fa-sun {
    font-size: 8px;
}

.fa-moon {
    font-size: 8px;
}

.label .ball {
    left: 0.5px;
    width: 11px;
    height: 11px;
    margin-bottom: 3px;
}

.checkbox:checked + .label .ball {
    transform: translateX(14px);
  }
    
.me {
    display: none; 
}

#content-apresentacao{
    position: relative;
    text-align: center;
}

.hi {
    font-size: 13px;
    user-select: none;
}

.apresentacao1 {
    font-size: 45px;
    user-select: none;
}

.checkbox {
    top: -40px;
    right: 1px;
    padding: 10px;
    z-index: 1;
    width: 47px;
    height: 22px;
}

.label {
    top: -35px;
    right: 9px;
    height: 14px;
}

.github {
    padding-top: 30px;
    font-size: 13.5px;
}

p {
    text-align: center;
    font-size: 16px;
}

.projetos {
    align-items: center;
    font-size: 14px;
    padding-top: 60px;
}

.habilidades {
    padding-top: 60px;
    margin-bottom: 18px;
}

.js {
    top: 45%;
    left: 25%;
}

.react {
    left: 20%;
}

.php {
    left: 43%;
}

.html, .python, .css {
    height: 26px;
    margin-left: 12%;
}

.estudando {
    padding-top: 10px;
}

.js, .react, .php {
    height: 26px;
    margin-left: 10%;
}

.contatos {
    padding-top: 60px;
    align-items: center;
    font-size: 14px;
}

.sis {
    align-items: center;
    max-width: 91%;
    width: 100%;
    position: inherit;
    margin-top: 8px;
    font-size: 15px;
    justify-content: center;
    padding: 13px;
    user-select: none;
}

.sis:active {
    transform: scale(0.97);
}

.sismestas {
    font-size: 17px;
}

.sistemas {
    font-size: 13.5px;
}}
